<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/boot
strap.min.css" />
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div class="container">
		<div class="card">

			<div class="card-header bg-primary text-white text-center">
				<h3>Welcome to Shipment Type Data Page</h3>
			</div>
			<div class="card-body">

				<table class="table table-hover">
					<tr class="bg-success text-white">
						<th>ID</th>
						<th>MODE</th>
						<th>CODE</th>
						<th>ENABLE</th>
						<th>GRADE</th>
						<th>DESCRIPTION</th>
						<th>OPTIONS</th>
					</tr>

					<tr th:each="ob:${list}">
						<td th:text="${ob.id}"></td>
						<td th:text="${ob.shipmentMode}"></td>
						<td th:text="${ob.shipmentCode}"></td>
						<td th:text="${ob.enableshipment}"></td>
						<td th:text="${ob.shipmentGrade}"></td>
						<td th:text="${ob.shipmentDescription}"></td>
						<td><a href="#" class="btn btn-danger">DELETE</a> | <a
							href="#" class="btn btn-info">EDIT</a></td>
					</tr>


				</table>


			</div>

		</div>


	</div>


</body>
</html>